<!-- Yesterdays Dealer Sales Table -->
<h5>Yesterdays Dealer Sales </h5>
<table class ="table table-striped">
    <thead>
       <tr>
          <th>Product</th>
          <th>Sales</th>
       </tr>
    </thead>
    <tbody>
       <tr *ngFor="let data of (yesterdaysDealerStats$ | async)">
          <td>{{data?.product}}</td>
          <td>{{data?.sales}}</td>
       </tr> 
    </tbody>
 </table>
<!-- End Yesterdays Dealer Sales Table -->
 <br>
 
  <!-- MTD Dealer Stats -->
<h5>MTD Dealer Stats</h5>
<table class = "table table-striped">
    <thead>
       <tr>
          <th>Product</th>
          <th>Sales</th>
          <th>Daily Avg.</th>
          <th>Month Est.</th>
       </tr>
    </thead> 
    <tbody>
       <tr *ngFor="let data of (mtdDealerStats$ | async)">
          <td>{{data?.product}}</td>
          <td>{{data?.sales}}</td>
          <td>{{data?.dailyAverage}}</td>
          <td>{{data?.monthEstimate}}</td>
       </tr>  
    </tbody>
 </table>

 <!-- End MTD Dealer Stats -->
<br>

   <!-- MTD Dealer Activations -->
<h5>MTD Dealer Activations</h5>
<table class = "table table-striped">
    <thead>
       <tr>
          <th>Product</th>
          <th>Sales</th>
          <th>Daily Avg.</th>
          <th>Month Est.</th>
       </tr>
    </thead> 
    <tbody>
       <tr *ngFor="let data of (mtdDealerActivations$ | async)">
          <td>{{data?.product}}</td>
          <td>{{data?.sales}}</td>
          <td>{{data?.dailyAverage}}</td>
          <td>{{data?.monthEstimate}}</td>
       </tr>  
    </tbody>
 </table>

 <!-- End MTD Dealer Activations -->