<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
      <div class="navbar-translate">
          <a class="navbar-brand" href="/presentation.html"> Endurance</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          </button>
      </div>

      <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a href="#pablo3" class="nav-link"><i class="material-icons">show_chart</i>reports</a>
              </li>
            <li class="nav-item">
                    <a href="#pablo3" class="nav-link"><i class="material-icons">input</i>logout</a>
                </li>
          </ul>

      </div>
  </div>
</nav>