
<ion-content  overflow-scroll="true" >
<form [formGroup]="userForm" (ngSubmit)="login()">
<div class="login-wrap">
    <div class="login-html">
       <img src="../../assets/images/logo-endurance-icon.png">
       <br>      <br>
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label style="font-size: 14px" for="tab-1" class="tab">Sign In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" style="font-size: 14px" class="tab">Sign Up</label>
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
              <br>
            <label for="user" class="label">Email</label>
            <input id="user" type="text" class="input"  formControlName="userName">
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" type="password" class="input"  formControlName="password" data-type="password">
          </div>
          <div class="group">
            <input id="check" type="checkbox" class="check" checked>
            <label for="check"><span class="icon"></span> Keep me Signed in</label>
          </div>
          <div class="group">
            <input type="submit" class="button" value="Sign In">
          </div>
          <div class="foot-lnk">
            <a href="#forgot">Forgot Password?</a>
          </div>
        </div>
        <div class="sign-up-htm">
          <div class="group">
            <br>
            <label for="user" class="label">Email</label>
            <input id="user" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" type="password" class="input" data-type="password">
          </div>
          <div class="group">
              <label for="pass" class="label">Register Key</label>
              <input id="pass" type="text" class="input">
            </div>
          <div class="group">
            <input type="submit" class="button" value="Sign Up">
          </div>
          <div class="foot-lnk">
            <label for="tab-1">Already Member?</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</ion-content>
