

                <div class="card">
                    <div class="card-body">
                     <span style="float:left; color:#fff">
                      <!-- //Pass In Date Field -->
                        <h4 style="color:#fff"> {{setDateField | date: 'MMM d'}} </h4>  {{textLabel}}
                     </span>
                     <span style="float:right">
                      <!-- //Pass In Total Field -->
                        <h4 style="color:#fff"> {{salesTotal}}</h4>
                                 </span>
                      </div>
            
                  </div>
         
                  <div class="card" style="margin-top: -25px" *ngFor="let data of (salesData | async)">
                      <div class="card-body" style="background-color: #383838">
                       <span style="float:left">
                        <br>
                        <!-- //Pass In Date Field -->
                     <span><img class="img-class" src="../../assets/images/placeholder.gif">{{data.product}}<br><br>
                     <span *ngIf="data.dailyAverage">Daily Average:{{data?.dailyAverage}}</span> <br>
                     <span *ngIf="data.monthEstimate">Month Estimate:{{data?.monthEstimate}}</span> 
                    </span>  
                       </span>
                       <span style="float:right">
                        <!-- //Pass In Total Field -->
                        <br>
                          <h5 style="color:#fff">  {{data.sales}}</h5>
                                   </span>
                        </div>
              
                    </div>
           
  
              
                          