.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 5px;
    border-radius: 6px;
    border-radius: 0px;
    color:#355ba2;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card .card-body, .card .card-footer {
    padding: 0.9375rem 1.875rem;
    background-color: #355ba2;
    color: #fff;
}

.img-class {
    width: 50px;
    height: 50px;
    border: 0;
    margin-right: 20px;
}