
<app-navbar></app-navbar>
<ion-content class="ionic-Content-Background">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <app-sales-table [yesterdaysDealerStats$]="yesterdaysDealerStats$"
                         [mtdDealerStats$]="mtdDealerStats$"
                         [mtdDealerActivations$]="mtdDealerActivations$"></app-sales-table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

