<app-navbar></app-navbar>
<app-sales-summary></app-sales-summary>
<ion-content class="ionic-Content-Background">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <app-date-total-card [setDateField]="yesterDayDate" [salesData]="yesterdaysDealerStats$" [textLabel]="'Total Sales'">
        </app-date-total-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <app-date-total-card [setDateField]="todayDate" [salesData]="mtdDealerStats$" [textLabel]="'MTD Dealer Sales'">
        </app-date-total-card>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12>
          <app-date-total-card [setDateField]="todayDate" [salesData]="mtdDealerActivations$" [textLabel]="'MTD Dealer Activations'">
          </app-date-total-card>
        </ion-col>
      </ion-row>
   <!--  <ion-row>
       <ion-col col-12>
        <ion-card>
          <ion-card-header>
            <h5>Yesterdays Dealer Sales</h5>
            &nbsp;&nbsp;{{todayDate | date:'shortDate'}} Projected Totals
            <ion-icon name="stats"></ion-icon>
          </ion-card-header>
          <ion-card-content *ngFor="let data of (yesterdaysDealerStats$ | async)">
            <ion-item>
              Product: {{data.product}}
              <br> Sales: {{data.sales}}
              <br>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card>
          <ion-card-header>
            <h5>MTD Dealer Stats</h5>
            &nbsp;&nbsp;{{todayDate | date:'shortDate'}} Projected Totals
            <ion-icon name="stats"></ion-icon>
          </ion-card-header>

          <ion-card-content *ngFor="let data of (mtdDealerStats$ | async)">
            <ion-item>
              Product: {{data.product}}
              <br> Sales: {{data.sales}}
              <br> Daily Average: {{data.dailyAverage}}
              <br> Month Estimate: {{data.monthEstimate}}
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card>
          <ion-card-header>
            <h5>MTD Dealer Activations</h5>
            &nbsp; &nbsp;{{todayDate | date:'shortDate'}} Projected Totals
            <ion-icon name="stats"></ion-icon>
          </ion-card-header>

          <ion-card-content *ngFor="let data of (mtdDealerActivations$ | async)">
            <ion-item>
              Product: {{data.product}}
              <br> Sales: {{data.sales}}
              <br> Daily Average: {{data.dailyAverage}}
              <br> Month Estimate: {{data.monthEstimate}}
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col> 
   
   
   
   
    </ion-row> -->
  </ion-grid>

 
</ion-content>
